<div class="py-24 px-6 sm:py-32 lg:px-6">
  <div class="mx-auto max-w-7xl text-center">
    <div class="mx-auto max-w-2xl lg:mx-0">
    <p class="text-base font-semibold leading-7 text-teal-600">Add</p>
        <p class="mt-2 text-4xl font-bold tracking-tight text-sky-900 sm:text-6xl">Symptom</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">Pick your poison...</p>

    </div>
  </div>
</div>

<%= simple_form_for @symptom do |f| %>
  <div class="bg-white rounded-md shadow px-4 py-5 sm:p-6">
    <div class="grid grid-cols-6 gap-6">
      <div class="col-span-6">
        <%= f.input :name, label: 'Symptom Name', required: true, input_html: { class: 'form-input rounded-md shadow-sm mt-1 block w-full' } %>
      </div>
      <% (1..7).each do |i| %>
        <div class="col-span-6 sm:col-span-3">
          <%= f.input "question_#{i}", label: "Question #{i}", required: true, input_html: { class: 'form-input rounded-md shadow-sm block w-full' } %>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2"></h3>
          <%= f.simple_fields_for "question_#{i}_options" do |options| %>
            <% 5.times do |j| %>
              <div class="mt-1 relative rounded-md shadow-sm">
                <%= options.input "option_#{j+1}", label: "Option #{j+1}", required: true, input_html: { class: 'form-input rounded-md shadow-sm block w-full pr-10' } %>
                <% if j == 0 %>
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 10H15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
<div class="mt-8 flex">
    <%= f.button :submit, 'Create Symptom', class: 'ml-auto inline-flex justify-center py-1 px-3 text-sm font-medium text-black bg-green-600 rounded-md border border-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500' %>
</div>

  </div>

<% end %>
