<div class="py-24 px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-teal-600">What is wrong with them?</p>
    <p class="mt-2 text-4xl font-bold tracking-tight text-sky-900 sm:text-6xl">Create Symptoms</p>
    <p class="mt-6 text-lg leading-8 text-gray-600">Add new symptoms that your patients can pick from. Additonally add the questions&answers they shall truthfully send to our good friend Chat GPT.</p>
  </div>
</div>

<%= simple_form_for @symptom do |f| %>
  <%= f.input :name, label: 'Symptom Name', required: true %>

  <%= f.input :question_1, label: "Question 1", required: true %>
  <%= f.input :question_2, label: "Question 2", required: true %>
  <%= f.input :question_3, label: "Question 3", required: true %>
  <%= f.input :question_4, label: "Question 4", required: true %>
  <%= f.input :question_5, label: "Question 5", required: true %>
  <%= f.input :question_6, label: "Question 6", required: true %>
  <%= f.input :question_7, label: "Question 7", required: true %>

  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>





<p>Find me in app/views/symptoms/new.html.erb</p>
