<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :age, label: 'Age', as: :integer %>
    <%= f.input :gender, as: :radio_buttons, collection: [['Male', 'Male'], ['Female', 'Female'], ['Other', 'Other']], label: 'Gender' %>
    <%= f.input :medical_history, label: 'Medical History' %>
    <%= f.input :drug_history, label: 'Drug History' %>
    <%= f.input :allergy_history, label: 'Allergy History' %>
    <%= f.input :role, as: :radio_buttons, collection: [['Patient', 'patient'], ['Doctor', 'doctor']], label: 'Role' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
