<% if current_user.doctor? %>
  <h3>Welcome, Doctor! Below is a list of consultations:</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Status</th>
          <th>Symptom</th>
          <th>Patient ID</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @consultations.each do |consultation| %>
          <tr>
            <td><%= button_to 'Open', consultation_path(consultation), method: :get, class: 'btn btn-success' %></td>
            <td><%= consultation.symptom.name %></td>
            <td><%= consultation.user_id %></td>
            <td><%= consultation.user.age %></td>
            <td><%= consultation.user.gender %></td>
            <td><%= button_to 'Delete', consultation_path(consultation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <h3>Welcome, Patient! Below is a list of your consultations:</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Status</th>
          <th>Symptom</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @consultations_user.each do |consultation| %>
          <tr>
            <td><%= button_to 'Open', consultation_path(consultation), method: :get, class: 'btn btn-success' %></td>
            <td><%= consultation.symptom.name %></td>
            <td><%= button_to 'Delete', consultation_path(consultation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
