<% if current_user.doctor? %>
  <p>Welcome, Doctor! Below is a list of Consultations:</p>

  <% @consultations.each do |consultation| %>
    <li>
      <%= link_to consultation.symptom.name, consultation_path(consultation), title: consultation.symptom.name %>
      <br>
      <strong>Patient ID:</strong> <%= consultation.user_id %>
      <br>
      <strong>Age:</strong> <%= consultation.user.age %>
      <br>
      <strong>Gender:</strong> <%= consultation.user.gender %>
      <br>
      <strong>Symptom:</strong> <%= consultation.symptom.name %>
      <br>
      <%= button_to 'Destroy', consultation_path(consultation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <br>
          <br>
    </li>
      <% end %>

<% else %>
  <p>Welcome, Patient! Below is a list of your Consultations: </p>
<% end %>

<ul>
  <% @consultations_user.each do |consultation| %>
    <li>
      <%= link_to consultation.symptom.name, consultation_path(consultation), title: consultation.symptom.name %>
      <br>
      <strong>Symptom:</strong> <%= consultation.symptom.name%>
      <br>
      <br>
      <%= button_to 'Destroy', consultation_path(consultation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </li>
      <% end %>
</ul>
