<div class="py-24 px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-7xl text-center">
    <div class="mx-auto max-w-2xl lg:mx-0">
    <p class="text-base font-semibold leading-7 text-teal-600">Index</p>
    <% if current_user.doctor? %>
        <p class="mt-2 text-4xl font-bold tracking-tight text-sky-900 sm:text-6xl">Consultations</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">A list of all Consultations.</p>
      <% else %>
        <p class="mt-2 text-4xl font-bold tracking-tight text-sky-900 sm:text-6xl">My Consultations</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">A list of all your Active and Closed Consultations.</p>
      <% end %>
    </div>
  </div>
</div>
<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flow-root">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-sm sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <% if current_user.doctor? %>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Action</th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Status</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Symptom</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Rating</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Patient ID</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Age</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Gender</th>
                <% else %>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Action</th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Status</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Symptom</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Rating</th>
                <% end %>
              </tr>
              </thead>
<tbody class="divide-y divide-gray-200 bg-white">
  <% if current_user.doctor? %>
    <% @consultations.each do |consultation| %>
      <tr class="hover:bg-gray-100">
        <td class="px-6 py-4 whitespace-nowrap">
        <%= button_to 'Open', consultation_path(consultation), method: :get, class: 'px-3 py-1 text-sm font-medium text-green-600 rounded-md border border-green-600 hover:text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 mr-2' %>
        <%# <%= button_to 'Delete', consultation_path(consultation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'px-3 py-1 text-sm font-medium text-red-600 rounded-md border border-red-600 hover:text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500' %>
      </td>
        <td class="px-6 py-4 whitespace-nowrap">
        <%= consultation.status %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <%= consultation.symptom.name %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
        <%= consultation.rating %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <%= consultation.user_id %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <%= consultation.user.age %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <%= consultation.user.gender %>
      </tr>
    <% end %>
  <% else %>
    <% @consultations_user.each do |consultation| %>
      <tr class="hover:bg-gray-100">
        <td class="px-6 py-4 whitespace-nowrap">
        <%= button_to 'Open', consultation_path(consultation), method: :get, class: 'px-3 py-1 text-sm font-medium text-green-600 rounded-md border border-green-600 hover:text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 mr-2' %>
        <%# <%= button_to 'Delete', consultation_path(consultation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'px-3 py-1 text-sm font-medium text-red-600 rounded-md border border-red-600 hover:text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500' %>
      </td>
        <td class="px-6 py-4 whitespace-nowrap">
        <%= consultation.status %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          <%= consultation.symptom.name %>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
        <%= consultation.rating %>
      </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
</div>
</div>
