<div class="card">
  <div class="card-body">
    <% if current_user.doctor? %>
      <p class="card-text">Welcome, Doctor! You cannot create a consultation.</p>
    <% else %>
      <p class="card-text">Welcome, Patient! Please select your symptom to begin a consultation:</p>
       <%= form_tag new_consultation_path, method: :get, class: "flex items-center mb-4" do %>
      <div class="flex items-center bg-white rounded-lg border-2 border-gray-200">
        <%= text_field_tag :search, params[:search], placeholder: "Search for your symptom...", class: "py-2 px-4 rounded-l-lg focus:outline-none" %>
        <div class="p-2">
          <%= button_tag type: :submit, class: "bg-blue-500 text-white rounded-r-lg hover:bg-blue-400 focus:outline-none" do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>
      <% @symptoms.order(:name).each do |symptom| %>
        <%= simple_form_for @consultation, data: { turbo: false } do |f| %>
          <div class="form-group d-grid gap-2">
            <button style="width: 50%" type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#symptom-<%= symptom.id %>">
              <%= symptom.name %>
            </button>
            <br>
            <div class="modal fade" id="symptom-<%= symptom.id %>" tabindex="-1" role="dialog" aria-labelledby="symptom-<%= symptom.id %>-label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="symptom-<%= symptom.id %>-label"><%= symptom.name %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                    <div class="modal-body">
                    <%= f.hidden_field :symptom_id, value: symptom.id %>
                    <div class="form-group">
                      <%= f.label :questionsandanswer_1, symptom.question_1 %>
                      <%= f.select :questionsandanswer_1, symptom.question_1_options, {}, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :questionsandanswer_2, symptom.question_2 %>
                      <%= f.select :questionsandanswer_2, symptom.question_2_options, {}, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :questionsandanswer_3, symptom.question_3 %>
                      <%= f.select :questionsandanswer_3, symptom.question_3_options, {}, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :questionsandanswer_4, symptom.question_4 %>
                      <%= f.select :questionsandanswer_4, symptom.question_4_options, {}, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :questionsandanswer_5, symptom.question_5 %>
                      <%= f.select :questionsandanswer_5, symptom.question_5_options, {}, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :questionsandanswer_6, symptom.question_6 %>
                      <%= f.select :questionsandanswer_6, symptom.question_6_options, {}, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :questionsandanswer_7, symptom.question_7 %>
                      <%= f.select :questionsandanswer_7, symptom.question_7_options, {}, class: "form-control" %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= button_to 'Back', consultations_path, class: 'btn btn-outline-danger' %>
