<div class="lg:mx-5 lg:p-4 mt-5" data-controller="consultation">
  <div class="py-20 px-6 sm:py-20 pb-2 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-teal-600">ChatGPT has spoken</p>
    <p class="mt-2 text-2xl font-bold tracking-tight text-sky-900 sm:text-4xl"><%= @consultation.user.email %></p>
  </div>

  <% if current_user.doctor? %>
    <div class="p-2">
      <div class="p-2 border-b md:flex md:justify-between">
        <p class="text-xl font-semibold text-teal-600">Consultation Summary</p>
        <div class="flex md:justify-end space-x-4 justify-center">
          <%= button_to 'Back', consultations_path, method: :get, class: "block rounded-md bg-teal-600 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600" %>
          <%= button_to 'Close', close_consultation_path(@consultation), method: :patch, data: { confirm: 'Are you sure?' }, class: "block rounded-md bg-sky-900 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-sky-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600" %>
          <%= button_to 'Delete', consultation_path(@consultation), method: :delete, data: { confirm: 'Are you sure?' }, class: "block rounded-md bg-red-500 py-2 px-3 text-center text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500" %>
        </div>
      </div>
      <div class="p-2">
        <div class="rounded-4 bg-white overflow-hidden px-4 py-3 my-3">
          <p class="text-xl font-semibold mb-3 text-sky-900">Patient Details</p>
          <div class="flex justify-normal">
            <div>
              <div>Patient ID:</div>
              <div>Symptom:</div>
              <div>Age:</div>
              <div>Gender:</div>
              <div>Past Medical History:</div>
              <div>Drug History:</div>
            </div>
            <div class="ml-20">
              <div><%= @consultation.user_id %></div>
              <div ><%= @consultation.symptom.name %></div>
              <div ><%= @consultation.user.age %></div>
              <div ><%= @consultation.user.gender %></div>
              <div><%= @consultation.user.medical_history %></div>
              <div><%= @consultation.user.drug_history %></div>
            </div>
          </div>
        </div>
        <div class="rounded-4 bg-white overflow-hidden px-4 py-3">
          <p class="text-xl font-semibold mb-3 text-sky-900">Patient Response</p>
          <table class="w-100 mb-3 rounded-4" style="border-collapse: collapse; border: none;">
  <tbody>
    <tr class="hover:bg-gray-100" style="border-top: none">
      <td class="border-slate-300 p-2"><%= @consultation.symptom.question_1 %></td>
      <td class="p-2"><%= @consultation.questionsandanswer_1 %></td>
    </tr>
    <tr class="hover:bg-gray-100" style="border-top: 1px solid #CBD5E0;">
      <td class="border-slate-300 p-2"><%= @consultation.symptom.question_2 %></td>
      <td class="p-2"><%= @consultation.questionsandanswer_2 %></td>
    </tr>
    <tr class="hover:bg-gray-100" style="border-top: 1px solid #CBD5E0;">
      <td class="border-slate-300 p-2"><%= @consultation.symptom.question_3 %></td>
      <td class="p-2"><%= @consultation.questionsandanswer_3 %></td>
    </tr>
    <tr class="hover:bg-gray-100" style="border-top: 1px solid #CBD5E0;">
      <td class="border-slate-300 p-2"><%= @consultation.symptom.question_4 %></td>
      <td class="p-2"><%= @consultation.questionsandanswer_4 %></td>
    </tr>
    <tr class="hover:bg-gray-100" style="border-top: 1px solid #CBD5E0;">
      <td class="border-slate-300 p-2"><%= @consultation.symptom.question_5 %></td>
      <td class="p-2"><%= @consultation.questionsandanswer_5 %></td>
    </tr>
    <tr class="hover:bg-gray-100" style="border-top: 1px solid #CBD5E0;">
      <td class="border-slate-300 p-2"><%= @consultation.symptom.question_6 %></td>
      <td class="p-2"><%= @consultation.questionsandanswer_6 %></td>
    </tr>
    <tr class="hover:bg-gray-100" style="border-top: 1px solid #CBD5E0;">
      <td class="border-slate-300 p-2"><%= @consultation.symptom.question_7 %></td>
      <td class="p-2"><%= @consultation.questionsandanswer_7 %></td>
    </tr>
  </tbody>
</table>

        </div>
        <div class="rounded-4 bg-white overflow-hidden my-3 p-4">
          <p class="text-xl font-semibold mb-3 text-sky-900">System Response</p>
          <% gpt_response_parts = @consultation.gpt_response.split("\n\n") %>
          <% gpt_response_parts.each_with_index do |part, index| %>
          <% title, *items = part.split("\n") %>
          <div class="my-2 border-b p-2">
            <dt>
              <!-- Expand/collapse question button -->
              <button type="button" class="flex w-full items-start justify-between text-left text-gray-900" aria-controls="faq-0" aria-expanded="false" data-action="click->consultation#next" data-id="q-<%= index %>">
                <span class="text-base font-semibold leading-7"><%= title.split(":")[0] %></span>
                <span class="ml-6 flex h-7 items-center">
                  <svg class="q-<%= index %> hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                  </svg>
                  <span  class="q-<%= index %> h-6 w-6 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path>
                    </svg>
                  </span>
                  <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                  </svg>
                </span>
              </button>
            </dt>
            <dd class="mt-2 pr-12 q-<%= index %>">
              <p class="text-base leading-7 text-gray-600"><%= title.split(":")[1] %></p>
                <ul class="pl-0 mb-0">
                <% items.each do |item| %>
                  <li><%= item %></li>
                <% end %>
              </ul>
            </dd>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="p-2">
      <div class="p-2 border-b flex justify-between">
        <h4 class="text-xl font-semibold">Consultation Summary</h4>
      </div>
      <div class="p-2">
        <div class="rounded-4 bg-white overflow-hidden shadow px-4 py-3 my-3">
          <div class="flex justify-normal">
            <div>
              <div>Symptom:</div>
            </div>
            <div class="ml-20">
              <div ><%= @consultation.symptom.name %></div>
            </div>
          </div>
        </div>
        <div class="rounded-4 bg-white overflow-hidden shadow px-4 py-3">
          <h4 class="text-xl mb-4 font-semibold">Questions and Answers</h4>
          <table class="w-100 mb-3 rounded-4">
            <tbody>
              <tr class="hover:bg-gray-100">
                <td class="border border-slate-300 p-2"><%= @consultation.symptom.question_1 %></td>
                <td class="border border-slate-300 p-2"><%= @consultation.questionsandanswer_1 %></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <td class="border border-slate-300 p-2"><%= @consultation.symptom.question_2 %></td>
                <td class="border border-slate-300 p-2"><%= @consultation.questionsandanswer_2 %></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <td class="border border-slate-300 p-2"><%= @consultation.symptom.question_3 %></td>
                <td class="border border-slate-300 p-2"><%= @consultation.questionsandanswer_3 %></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <td class="border border-slate-300 p-2"><%= @consultation.symptom.question_4 %></td>
                <td class="border border-slate-300 p-2"><%= @consultation.questionsandanswer_4 %></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <td class="border border-slate-300 p-2"><%= @consultation.symptom.question_5 %></td>
                <td class="border border-slate-300 p-2"><%= @consultation.questionsandanswer_5 %></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <td class="border border-slate-300 p-2"><%= @consultation.symptom.question_6 %></td>
                <td class="border border-slate-300 p-2"><%= @consultation.questionsandanswer_6 %></td>
              </tr>
              <tr class="hover:bg-gray-100">
                <td class="border border-slate-300 p-2"><%= @consultation.symptom.question_7 %></td>
                <td class="border border-slate-300 p-2"><%= @consultation.questionsandanswer_7 %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
