 <style>
    .input-filled {
      background-color: lightgreen;
    }
  </style>

<div class="mt-8 py-24 sm:py-8">
  <div class="mx-auto max-w-7xl text-center">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <p class="text-base font-semibold leading-7 text-indigo-600">Forgotten your password? Silly you!</p>
      <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Don't worry, we will help</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Please enter all your relevant information below! </p>
    </div>
  </div>
</div>

<div class="px-4 sm:px-8">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

    <div class="form-actions" style="margin-bottom: 2rem;">
    <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  </div>
<% end %>
